<link rel="stylesheet" type="text/css" href="/stylesheets/d3stylesheet.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/connectiongraphstyle.css"/>

<div ng-app="graphapp">
	<div id="myjson" myjson>
		<!--<input type="search" ng-model="q" placeholder="filter friends..." />-->
		<div id="connectionGraphic" connectionGraphic>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h5 class="panel-title well">
						I ({{idToName[ "userMap" ][ myUserId ].Name}}) have {{finalShortestPaths.length}} path(s) to {{idToName[ "userMap" ][ desiredUserId ].Name}}
					</h5>
				</div>
				<div class="panel-body">
					<div class="path well"  ng-repeat="path in finalShortestPaths">
						<!--<h3>Path</h3>-->
						<ul class="list-group">
							<li class="list-group-item animate-repeat" ng-repeat="user in path | filter:q">
								<!-- show user -->
								<div ng-show=" idToName[ 'userMap' ][ user ] ">
									<div class="profileImgDiv profileArrow" ng-hide="$first">
										<img class="profileArrowImg" src="https://cdn1.iconfinder.com/data/icons/blueberry/32/arrow_down.png"/>
									</div>

									<div class="profileImgDiv">
										<a href="{{oauthObj.instance_url}}/{{ idToName[ 'userMap' ][ user ].Id }}" target="_top">
											<img class="profileImg" src="{{ idToName[ 'userMap' ][ user ].FullPhotoUrl }}" alt="img"/>
										</a>
									</div>
									<div class="profileDetailDiv">
										<span class="badge">
											<a href="{{oauthObj.instance_url}}/{{ idToName[ 'userMap' ][ user ].Id }}" target="_top">
												{{ idToName[ "userMap" ][ user ].Name }} <!--{{ globalUserMap[ user ].d3index }}-->
											</a>
										</span>
										<br/>
										<span class="pull-left clear" style="color:gray;">
											{{ idToName[ "userMap" ][ user ].Title }}
										</span>
										<span class="pull-left clear">
											<a href="mailto:{{ idToName[ 'userMap' ][ user ].Email }}">{{ idToName[ 'userMap' ][ user ].Email }}</a>
										</span>
										<span class="pull-left clear">
											<a href="tel:{{ idToName[ 'userMap' ][ user ].Phone }}">{{ idToName[ 'userMap' ][ user ].Phone }}</a>
										</span>
									</div>
								</div>

								<!-- show chatter group -->
								<div ng-show=" idToName[ 'chatterGroupMap' ][ user ] ">
									<div class="profileImgDiv profileArrow" ng-hide="$first">
										<img class="profileArrowImg" src="https://cdn1.iconfinder.com/data/icons/blueberry/32/arrow_down.png"/>
									</div>
									<div class="profileImgDiv">
										<a href="{{oauthObj.instance_url}}/{{ idToName[ 'chatterGroupMap' ][ user ].Id }}" target="_top">
											<img class="profileImg" src="{{ idToName[ 'chatterGroupMap' ][ user ].FullPhotoUrl }}" alt="img"/>
										</a>
									</div>
									<div class="profileDetailDiv">
										<span class="badge">
											<a href="{{oauthObj.instance_url}}/{{ idToName[ 'chatterGroupMap' ][ user ].Id }}" target="_top">
												{{ idToName[ "chatterGroupMap" ][ user ].Name }} <!--{{ globalUserMap[ user ].d3index }}-->
											</a>
										</span>
										<br/>
										<span class="pull-left clear" style="color:gray;">
											{{ idToName[ "chatterGroupMap" ][ user ].Title }}
										</span>
										<span class="pull-left clear">
											<a href="mailto:{{ idToName[ 'chatterGroupMap' ][ user ].Email }}">{{ idToName[ 'chatterGroupMap' ][ user ].Email }}</a>
										</span>
										<span class="pull-left clear">
											<a href="tel:{{ idToName[ 'chatterGroupMap' ][ user ].Phone }}">{{ idToName[ 'chatterGroupMap' ][ user ].Phone }}</a>
										</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<br/><br/>
		
		<div id="myD3Div"></div>
		
		<!--
		<div style="position:relative;float:left;clear:both;"><p>{{d3object}}</p></div>
		{{globalUserMap}}
		<p>
			<h1>userIdToSubscriberIds</h1>
			{{userIdToSubscriberIds}}
		</p>
		<p>
			<h1>chatterGroupIdToSubscriberIds</h1>
			{{chatterGroupIdToSubscriberIds}}
		</p>
		<p>
			<h1>userIdToChatterGroupIds</h1>
			{{userIdToChatterGroupIds}}
		</p>
		<p>
			<h1>idToName</h1>
			{{idToName}}
		</p>
		<p>
			{{finalShortestPaths}}
		</p>

		<p>
			<label>my node:</label>
			{{myNode}}
		</p>-->
	</div>
</div>