div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
}

#myD3Div
{
	float: left;
	clear: left;
}
#connectionGraphic
{
	width:100%;
}
.path
{
	position:relative;
	float:left;
}
.profileImgDiv
{
	position:relative;
	float:left;
	clear:left;
}
.profileArrow
{
	margin: 0 0 5px 19px;
}
.profileArrowImg
{
	width:15px;
}
.profileDetailDiv
{
	position:relative;
	float:left;
	padding: 0 10px;
	line-height: 11px;
}
.profileImg
{
	width:50px;
	height:50px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
}
ul
{
	list-style: none;
}
.list-group-item
{
	position:relative;
	float:left;
	clear:both;
	padding:0 0 1px 0;
	margin: 1px 0 0 0;
	font-size: 10px;
	/*-webkit-transition:all 0.4s ease-in-out;*/
}
.badge
{
	background-color: rgba(226, 226, 226, 0.96);
}
.clear
{
	clear:both;
}

/*bootstrap mods*/
.well
{
	margin-bottom: 8px;
	padding: 2px 4px;
}