svg .pumpkin
{
	fill: yellow;
	stroke: orange;
	stroke-width: 5;
}

.mySvgClass
{
	position:relative;
	float:right;
}

.link {
	fill: none;
	stroke: #9ecae1;
	stroke-width: 1.5px;
}

.node text {
	pointer-events: none;
	font: 10px sans-serif;
}
.node:not(:hover) .nodetext {
	display: none;
}
.mode:hover
{
	cursor: pointer;
	box-shadow:0 0 8px 4px rgba(0,0,0,0.3);
}
.nodeImg
{
	/*border-radius: 20px; this doesnt work*/ 
}